replicaCount: 1

image:
  repository: registry.cn-shanghai.aliyuncs.com/c7n/elasticsearch-kb
  tag: 7.2-elasticsearch-kb
  pullPolicy: IfNotPresent

service:
  # 是否创建k8s service
  enabled: true
  # service类型
  type: ClusterIP
  # service端口
  port: 9200
  ## 若 type 为 NodePort，此为可选项
  # nodePort: 30120
  # service名称
  name: elasticsearch-kb
  ## externalIPs 设置
  # externalIPs:
  #   - externalIp1
  annotations: {}
    # prometheus.io/scrape: 'true'
    # prometheus.io/path: '/actuator/prometheus'
    # prometheus.io/port: '8061'

env:
  open:
    discovery.type: single-node
    ES_JAVA_OPTS: -Xms1024m -Xmx1024m
    bootstrap.memory_lock: true

logs:
  enabled: false
  parser: docker

resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources,such as Minikube. If you do want to specify resources,uncomment the following
  # lines,adjust them as necessary,and remove the curly braces after 'resources:'.
  limits:
    # cpu: 100m
    memory: 2Gi
  requests:
    # cpu: 100m
    memory: 2Gi